<p>Yay! You're now logged in :) </p>
<script src="/node_modules/ng-file-upload/dist/ng-file-upload-all.min.js"></script>
<div >
    <h1>This is my MEAN stack file upload trial!</h1>
    <form>
        <input type="file" file-model="filefield"/>
    <button ng-click="submit()">upload me</button>
    </form>
    <div><h1>My files</h1>
    <div ng-repeat="myfile in fileList" >
    <img src="./images/document.png" height="100px" width="100px" /><span >{{myfile.filename}}</span>
    </div>
    </div>
</div>